.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.toolbar-logo {
   min-height: 110px;
   max-height: 110px;
}

.toolbar-buttons {
   background-color: rgb(43, 43, 43);
}

.md-logocol {
   font-size: 36px;
   color: rgb(158, 2, 38);
}

.icon {
   padding: 0 14px;
}