body {
    background-image: url(/assets/img/login_bg.jpg);
    //background-color: rgb(71, 71, 71);
    //background-color: rgb(54, 57, 70);
}

.register-card {
    max-width: 400px;
}

.fit-card {
    width: 100%;
}

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 406px;
  //background-color: #ccc;
  border-radius: 3px;
}

::ng-deep .green-snackbar {
    background: rgb(40, 167, 69) !important;
}

::ng-deep .red-snackbar {
    background: rgb(158, 2, 38) !important;
}